.header {
  color: white;
  display: flex;
  /* background-color: black; */
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.header__icon {
  display: flex;
  flex-direction: column;
  width: 100px;
  cursor: pointer;
}

.header__icon--active > p {
  display: inline-flex !important;
}

.header__icon > .MuiSvgIcon-root {
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header__icon:hover > p {
  display: inline;
}

.header__icon > p {
  display: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}

.header > img {
  object-fit: contain;
  height: 80px;
}
